*{
 color: #fff;   
}
body{
    background:url(paint-desktop-background-1680x1050.jpg);
    font-family: "Arima Madurai";
}
h1, p{color: #fff;}
.but button{
    border-bottom: 2px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}
.but a{
    color: #fff;
    text-decoration: none;
}
